services:
  app:
    container_name: aplicacion
    image: php:8.3-apache
    environment:
      - DB_SERVER=
      - DB_NAME=
      - DB_USERNAME=
      - DB_PASSWORD=

    ports:
      - 8080:80
  mysql:
    image: mysql:5.7
    environment: 
      - MYSQL_DATABASE=
      - MYSQL_USER=
      - MYSQL_PASSWORD=
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - ./mysql:/var/lib/mysql
